*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(imgs/veg3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pic{
    background-image: url(bg.jpg);
    background-size: cover;
}

section{
    width: 350px;
    height: 400px;
    background-color: rgb(149, 174, 98);
    margin-top: 200px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

form{
    padding-top: 80px;
}

h2{
    font-weight: 500;
}

input{
    width: 200px;
    height: 30px;
    font-size: 15px;
    text-align: center;
    opacity: 50%;
}

button{
    padding: 4px 60px;
    background-color: aquamarine;
    border-radius: 20px;
    cursor: pointer;
}